
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ad {
  background-image: url('./Assets/street.jpg');
  background-repeat: no-repeat;
  position:relative;
  min-width: 100%;
  min-height: 70%;
  background-size: cover;
  background-position:center ;
}

/* <div class="card-body">
<h4 class="card-title">{v.description}</h4>
<p class="card-text">{v.vehicleNumber}</p>
<p class="card-text">{v.category}</p> */
/* 
.card */
.hilit-color{
  color:#FA0000;
}

.styleselect{
 
    position: absolute;
    z-index: 10;
    width: 168px;
    height: 40px;
    border: 1px solid #000;
    margin-inline: 10px;
    margin-left: 0%;
}
